<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button> -->
      <img style="width: 24px; height: 24px; margin-right:3px;" [src]="'assets/pb-icon.png'" />
      <h1>PasteBin 2.0</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/'"> Home </a>
        <a mat-button [routerLink]="'/aboutpage'"> About </a>
        <a mat-button [routerLink]="'/submitpage'">New Paste!</a>
        <a mat-button [routerLink]="'/signuppage'">Signup</a>
        
        

        <a *ngIf="logged === false" mat-button [routerLink]="'/loginpage'" (click)="login()">Login</a>
        <!--<a mat-button onclick="location.assign('/loginpage').then(document.getElementById('loginbutton').click();)">clickMe</a>-->
        <a *ngIf="logged === true" mat-button [routerLink]="'/profilepage'">Account Profile</a>
        <a *ngIf="logged === true" mat-button [routerLink]="'/viewpage'">View Pastes</a>
        <a *ngIf="logged === true" mat-button [routerLink]="'/loginpage'" (click)="logOut()">Logout</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
