<mat-card class="pb-text-listing-card" matRipple>
    <mat-card-header>
      <div mat-card-avatar class="pb-text-avatar-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>@shb</mat-card-subtitle>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    
    <mat-card-content>
        <br>
        <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
<mat-card-title>{{paste.title}}</mat-card-title>
      <p>
        {{paste.body}}
      </p>
    </mat-card-content>
  </mat-card>