<!-- <div *ngIf="paste.userID===socialUser.id"> -->
  <div *ngIf="paste && paste.userID != ''">
  <mat-card class="pb-text-listing-card" matRipple>
    <mat-card-header>
      <img mat-card-avatar src="{{paste.picture}}" style="object-fit: cover; margin-bottom: 10px;border-radius:50%; width:45px; height:45px;">
      <mat-card-title>{{paste.name}}</mat-card-title>
      <mat-card-subtitle>{{paste.email.split('@')[0]}}</mat-card-subtitle>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    
    <mat-card-content>
        <br>
        <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
<mat-card-title>{{paste.title}}</mat-card-title>
<div *ngIf="paste && paste !== undefined">
        <div class="editor-container" fxLayout="column">
        <ngx-monaco-editor [options]="editorOptions" (init)="editorInit($event)"></ngx-monaco-editor>
        </div>
        </div>
    </mat-card-content>
    <p><button mat-raised-button color="warn" (click)="deleteText()" *ngIf="paste.userID === socialUser.id" #deleteButton>Delete</button></p>
  </mat-card>
  </div>
<!-- </div> -->
<!-- <div *ngIf="paste.userID != socialUser.id"> -->
<div *ngIf="paste.userID == ''">
  <mat-card class="pb-text-listing-card" matRipple>
    <mat-card-header>
      <div mat-card-avatar class="pb-text-avatar-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>@shb</mat-card-subtitle>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    
    <mat-card-content>
        <br>
        <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
        <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
<mat-card-title>{{paste.title}}</mat-card-title>
<div class="editor-container" fxLayout="column">
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="paste.body"></ngx-monaco-editor>
  </div>
    </mat-card-content>
    <p><button mat-raised-button color="warn" (click)="deleteText()" *ngIf="paste.userID === socialUser.id" #deleteButton>Delete</button></p>
  </mat-card>
</div>

<!-- </div> -->
