<h1>Original Pastebin</h1>
<p>
Pastebin.com is a website where a user can store any text online for easy sharing. The website is usually used by programmer to share snippets of code, however it can be used for any sort of text sharing.
Additionally, Pastebin was used to share lists of website links and various writings. One prominent feature Pastebin has was the ability to search for test posts on the site and see what interesting topics would pop up.
If one wanted to find a list of interesting books to read or links for online forums, they would be able to search it on Pastebin. Despite the functionality, Pastebin has since removed the search feature. We want to fix, and therefore have decided to re-create Pastebin and give it its search feature again.
</p>
