<h1>Original Pastebin</h1>
<p>
Pastebin.com is a website where a user can store any text online for easy sharing. The website is usually used by programmer to share snippets of code, however it can be used for any sort of text sharing.
Additionally, Pastebin was used to share lists of website links and various writings. One prominent feature Pastebin has was the ability to search for test posts on the site and see what interesting topics would pop up.
If one wanted to find a list of interesting books to read or links for online forums, they would be able to search it on Pastebin. Despite the functionality, Pastebin has since removed the search feature, however, it still remains a prominent hub for text sharing online.
</p>
<br>
<h1>Pastebin 2.0</h1>
<p>
Although Pastebin is a great and useful website, we feel that removing the search feature has been detrimental to the user experience.
As a result,we have decided to re-create Pastebin and give it its search feature again. The website should still behave the same as the original Pastebin in terms of functionality. A user can still create anonymous pastes, set expiration dates, create private or unlisted pastes, and share pastes as they wish.
The main differences are that the home page and the aesthetic of the website. The home page allows a user to search for pastes that have been created on the site. The newest public pastes will pop up at the top of the site, and any older pastes can be searched for through the search bar.
The site itself does look different to the original Pastebin since it uses Angular Material.
</p>
