<head>
    <title>
        Submit page
    </title>
    <!--<style>
        p {
            /*Here we can modify the spacing of the text editor relative to the p tag*/
            margin: 100px;
            border: 1px solid #4CAF50;
        }
    </style>-->
</head>
<body>
        <h1 style="text-align: center; margin-top: 15px;">Make a New Paste!</h1>
        <br>
        <br>
        <mat-form-field class="example-full-width" appearance="outline" [style.fontSize.px]="16">
          <mat-label>Title</mat-label>
          <input #titleText matInput type="text" placeholder="Title" [(ngModel)]="textModel.title" [formControl]="title" autocomplete="off" required>
          <mat-hint align="start"><strong>Add a title to your paste</strong> </mat-hint>
        <mat-hint align="end">{{titleText.value.length}} / 260</mat-hint>
          <mat-error *ngIf="title.invalid">Title cannot be empty</mat-error>
        </mat-form-field>
        <br>
        <br>
        <mat-divider></mat-divider>
        <br>

            <ejs-richtexteditor [(ngModel)]="textModel.body"></ejs-richtexteditor>
            <br>
            <mat-divider></mat-divider>
            <br>
        <mat-form-field appearance="outline" floatLabel="always" style = "font-size: 16px;width:300px;">
            <mat-label>Expiration Date</mat-label>
            <input 
              matInput
              type="datetime-local" 
              placeholder="Expiration Date"
              [(ngModel)]="textModel.expire_at"
            >
            <mat-hint align="start"><strong>Add an expiration to your paste</strong> </mat-hint>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Tag Type</mat-label>
            <mat-select>
              <mat-option #option1 [value]="'Public'" (click)="onChange('public', option1.selected)">
                Public
              </mat-option>
              <mat-option #option2 [value]="'Private'" (click)="onChange('private', option2.selected)">
                Private
              </mat-option>
              <mat-option #option3 [value]="'Unlisted'" (click)="onChange('unlisted', option3.selected)">
                Unlisted
              </mat-option>
            </mat-select>
            <mat-hint align="start" style="font-size: 12px;"><strong>Select Post tag type</strong> </mat-hint>
          </mat-form-field>
          <div style="margin-top: 10px;">
            <button mat-raised-button color="primary" style="margin-top: 5px;" (click)="postText()">Submit</button>
          </div>
</body>