<head>
    <title>
        Submit page
    </title>
    <!--<style>
        p {
            /*Here we can modify the spacing of the text editor relative to the p tag*/
            margin: 100px;
            border: 1px solid #4CAF50;
        }
    </style>-->
</head>
<body>
    <div>
        <h1 style="text-align: center; margin-top: 15px;">Submit your text here!</h1>
        <h3 style = "margin-top: 24px;">Input your text in the box below: </h3>
    </div>  
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput type="text" placeholder="Title" [(ngModel)]="textModel.title">
        </mat-form-field>
    <div>
            <label>Body: </label>
            <ejs-richtexteditor [(ngModel)]="textModel.body"></ejs-richtexteditor></div>
    <div style="margin-top: 35px;">
        <label style = "margin-right: 10px;">Choose text expiration date: </label>
        <mat-form-field appearance="outline" floatLabel="always" style = "font-size: 12.5px;">
            <mat-label>Expiration Date</mat-label>
            <input 
              matInput
              type="datetime-local" 
              placeholder="Expiration Date"
              [(ngModel)]="textModel.expire_at"
            >
          </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary" style="margin-top: 5px;" (click)="postText()">Submit</button>
        <!-- <button style="margin-top: 5px;" (click)="postText()">Submit</button> -->
    </div>
</body>