<head>
    <title>
        Homepage
    </title>
</head>
<body>
  
    <div *ngIf="logged === true">
      <h1 style="text-align: center;">Welcome to PasteBin 2.0, {{user_name}}!</h1>
    </div>
    <div *ngIf="logged === false">
      <h1 style="text-align: center;">Welcome to PasteBin 2.0!</h1>
    </div>
    <br>
    <br>
    <mat-form-field appearance="fill" style="float: right">
      <mat-label>Filter</mat-label>
      <mat-select>
        <mat-option #option1 [value]="'Newest'" (click)="onChange('newest', option1.selected)">
          Newest
        </mat-option>
        <mat-option #option2 [value]="'Oldest'" (click)="onChange('oldest', option2.selected)">
          Oldest
        </mat-option>
        <mat-option #option3 [value]="'Alphabetical'" (click)="onChange('alpha', option3.selected)">
          Alphabetical
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="m-3">
      <div class="wrap">
        <mat-form-field>
        <div class="search" id="searchbar">
          <input type="text" matInput [(ngModel)]="term" class="searchTerm" placeholder="Search">
          
        </div>
      </mat-form-field>
      <button id="searchbarsubmit" style="margin-left: -20px;" matSuffix mat-button><mat-icon>search</mat-icon>
      </button>

    
        <div *ngFor="let paste of pastes | filter: term">
          <div *ngIf="term != ''">
            <p>
              <mat-card class="pb-text-listing-card" matRipple>
                <mat-card-header>
                  <div mat-card-avatar class="pb-text-avatar-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>@shb</mat-card-subtitle>
                </mat-card-header>
                <mat-divider inset></mat-divider>
                
                <mat-card-content>
                    <br>
                    <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
                    <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
          <mat-card-title>{{paste.title}}</mat-card-title>
                  <p>
                    {{paste.body}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button [routerLink]="['/textpage']" [queryParams]="{id:paste.id}">READ</button>
                </mat-card-actions>
              </mat-card>
            </p>
          </div>
          
        </div>
      </div>
    </div>
    
    <br>
    <br>

    <h1 style="text-align: center">Pastes</h1>
    
    <div *ngFor="let paste of pastes">
      <div *ngIf="paste.userID === socialUser.id">
        <div style="margin-top: 30px;"*ngFor="let paste of pastes">      
          <mat-card class="pb-text-listing-card" matRipple>
              <mat-card-header>
                <!--<div mat-card-avatar class="pb-text-avatar-image"></div>-->
                <img mat-card-avatar src="{{socialUser.photoUrl}}" style="object-fit: cover; margin-bottom: 10px;border-radius:50%; width:45px; height:45px;">
                <mat-card-title>{{socialUser.name}}</mat-card-title>
                <mat-card-subtitle>{{socialUser.email.split('@')[0]}}</mat-card-subtitle>
              </mat-card-header>
              <mat-divider inset></mat-divider>
              
              <mat-card-content>
                  <br>
                  <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
                  <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
                  <mat-card-subtitle >Post tag: {{paste.tag}}</mat-card-subtitle>
        <mat-card-title>{{paste.title}}</mat-card-title>
                <p>
                  {{paste.body}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button [routerLink]="['/textpage']" [queryParams]="{id:paste.id}">READ</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>

    <div style="margin-top: 30px;"*ngFor="let paste of pastes">      
        <mat-card class="pb-text-listing-card" matRipple>
            <mat-card-header>
              <div mat-card-avatar class="pb-text-avatar-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>@shb</mat-card-subtitle>
            </mat-card-header>
            <mat-divider inset></mat-divider>
            
            <mat-card-content>
                <br>
                <mat-card-subtitle><mat-icon class="pg-subtitle-icon">today</mat-icon>{{paste.created_at | date}}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="paste.expire_at != null"><mat-icon class="pg-subtitle-icon">query_builder</mat-icon>Expires in: {{getExpireIn(paste.expire_at)}}</mat-card-subtitle>
                <mat-card-subtitle >Post tag: {{paste.tag}}</mat-card-subtitle>
      <mat-card-title>{{paste.title}}</mat-card-title>
              <p>
                {{paste.body}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/textpage']" [queryParams]="{id:paste.id}">READ</button>
            </mat-card-actions>
          </mat-card>
        </div>
</body>