<div class="container-fluid">
  <div class="custom-card">
    <div *ngIf="isLoggedin === false">
    <button mat-raised-button color="primary" #button1 class="btn btn-block google-sign-in" (click)="loginWithGoogle()">
      <mat-icon>login</mat-icon>
      <span class="button-text">Continue With Google</span>
    </button>
      <div>
      </div>
    </div>
  </div>
</div>


<div class="container" style="max-width: 550px">  

  <!--{{ (isLoggedin) }}-->
  <div *ngIf="isLoggedin === true">
    <p>Logged: {{isLoggedin}}</p>
    <button mat-raised-button color="primary" type="button" (click)="logOut()" class="btn btn-primary">
      <mat-icon>logout</mat-icon>
      <span class="button-text">Logout from Google</span>
    </button>
  </div>
</div>